.banner {
  position: relative;
  height: 90vh;
  width: 100%;
  object-fit: cover;
}
.banner-title {
  max-width: 50%;
  top: 50vh;
  left: 15%;
  position: absolute;
  z-index: 1;
  h1{
    color: white;
  }

}
.boxShadow {
  box-shadow:  8px 6px -6px white
}
